<!DOCTYPE html>
<html lang="en">
<head>
    <title>CF-Editor / editor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>

        body {

            margin: 0 0;
        }
    </style>
    <link rel="stylesheet" href="/static/css/foundation.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
</head>
<body>
<div class="off-canvas-wrap" style="height:70px;background-color: #444444">

</div>
<div class="off-canvas-wrap" style="display: inline-block;height: 75%;width:100%;margin-top:5px">

    <div class="columns large-2 medium-2 small-12"
         style="height: 100%;overflow-y:auto;background-color: #efefef">
        <ul class="side-nav" role="navigation" title="Link List">
{#            <li class="menu-item" data-type="room">SET ROOM</li>#}
{#            <li class="menu-item" data-type="cabinet-base">ADD BASE CABINET</li>#}
{#            <li class="menu-item" data-type="cabinet-wall">ADD WALL CABINET</li>#}
{#            <li class="menu-item" data-type="cabinet-Tall">ADD TALL CABINET</li>#}
            <li class="menu-item" data-type="color">CHANGE FINISH</li>
            <li class="menu-item" data-type="color"><img src="/static/images/tex_1.jpg" class="texture-change" style="height: 20px;"></li>
            <li class="menu-item" data-type="color"><img src="/static/images/tex_2.jpg" class="texture-change" style="height: 20px;"> </li>
        </ul>
    </div>
    <div class="columns large-8 medium-8 small-12" id="editor-Parent" style="height: 100%">

        <div id="cf-Editor" style="height: 100%;width: 100%"></div>

    </div>
    <div class="columns large-2 medium-2 small-12" style="height: 100%;background-color: #efefef"></div>


</div>
<div class="off-canvas-wrap" style="display: inline-block;height: 15%;width:100%;background-color: #efefef">
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/underscore-min.map"></script>
<script src="/static/js/foundation.min.js"></script>
<script src="/static/js/three.min.js"></script>


<script src="/static/editor/CFEditor/libs/TransformControls.js"></script>
<script src="/static/editor/CFEditor/libs/EditorControls.js"></script>
<script src="/static/js/CFEditor/libs/system.min.js"></script>

<script src="/static/editor/CFEditor/libs/Detector.js"></script>
<script src="/static/editor/CFEditor/libs/Projector.js"></script>
<script src="/static/editor/CFEditor/libs/RaytracingRenderer.js"></script>

<script src="/static/editor/CFEditor/libs/signals.min.js"></script>
<script src="/static/editor/CFEditor/libs/JSONLoader.js"></script>

<script src="/static/editor/js/Storage.js"></script>
<script src="/static/editor/js/Editor.js"></script>
<script src="/static/editor/js/Config.js"></script>
<script src="/static/editor/js/Loader.js"></script>
<script src="/static/editor/js/Viewport.js"></script>
<script src="/static/editor/js/Viewport.Info.js"></script>

<script>


			window.URL = window.URL || window.webkitURL;
			window.BlobBuilder = window.BlobBuilder || window.WebKitBlobBuilder || window.MozBlobBuilder;

			Number.prototype.format = function (){
				return this.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
			};

			//

			var editor = new Editor();

			var viewport = new Viewport( editor );
			document.body.appendChild( viewport.dom );


			//

			editor.setTheme( editor.config.getKey( 'theme' ) );

			editor.storage.init( function () {

				editor.storage.get( function ( state ) {

					if ( state !== undefined ) {

						editor.fromJSON( state );

					}

					var selected = editor.config.getKey( 'selected' );

					if ( selected !== undefined ) {

						editor.selectByUuid( selected );

					}

				} );

				//

				var timeout;

				var saveState = function ( scene ) {

					if ( editor.config.getKey( 'autosave' ) === false ) {

						return;

					}

					clearTimeout( timeout );

					timeout = setTimeout( function () {

						editor.signals.savingStarted.dispatch();

						timeout = setTimeout( function () {

							editor.storage.set( editor.toJSON() );

							editor.signals.savingFinished.dispatch();

						}, 100 );

					}, 1000 );

				};

				var signals = editor.signals;

				signals.editorCleared.add( saveState );
				signals.geometryChanged.add( saveState );
				signals.objectAdded.add( saveState );
				signals.objectChanged.add( saveState );
				signals.objectRemoved.add( saveState );
				signals.materialChanged.add( saveState );
				signals.sceneGraphChanged.add( saveState );
				signals.scriptChanged.add( saveState );



			} );

			//

			document.addEventListener( 'dragover', function ( event ) {

				event.preventDefault();
				event.dataTransfer.dropEffect = 'copy';

			}, false );

			document.addEventListener( 'drop', function ( event ) {

				event.preventDefault();
				editor.loader.loadFile( event.dataTransfer.files[ 0 ] );

			}, false );

			document.addEventListener( 'keydown', function ( event ) {

				switch ( event.keyCode ) {

					case 8: // prevent browser back
						event.preventDefault();
						break;

				}

			}, false );

			var onWindowResize = function ( event ) {

				editor.signals.windowResize.dispatch();

			};

			window.addEventListener( 'resize', onWindowResize, false );

			onWindowResize();

			//

			var hash = window.location.hash;

			if ( hash.substr( 1, 4 ) === 'app=' ) {

				if ( confirm( 'Any unsaved data will be lost. Are you sure?' ) ) {

					var loader = new THREE.XHRLoader();
					loader.crossOrigin = '';
					loader.load( hash.substr( 5 ), function ( text ) {

						var json = JSON.parse( text );

						editor.clear();
						editor.fromJSON( json );

					} );

				}

			}


</script>


<script>
    $(document).foundation();
</script>
</html>
